
.container {
  min-width: 1200px;
}

.nav-min-width {
  min-width: 1200px;
}

.overflow-visible{
  overflow:visible;
}

.rank_head {
  padding:5px 10px;
  font-size: 1.2em;
}

.top-margin50 {
  margin-top: 50px;
}

.top-margin150 {
  margin-top: 150px;
}

.bottom-margin50 {
  margin-top: 50px;
}

.right-padding20 {
  padding-left: 25px;
}

.position-center {
  text-align: center;
}

.horizontal- {
  margin-left: auto;
  margin-right: auto;
}

.test-border{
  border: 1px solid #000000;
}


.bg-central {
  background: #66cdaa;
}

.bg-pacific {
    background: #2ca9e1;
}

.bg-silverpink {
  background: #c0c0c0;
}

.table-bordered-1 > :not(caption) > * {
  border-width: 1px 0;
  border-style: solid;
  border-color: #a9a9a9;

}
.table-bordered-1 > :not(caption) > * > * {
  border-width: 0 1px;
  border-style: solid;
  border-color: #a9a9a9;
}

.table-fixed {
  table-layout: fixed;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 10px 3px 10px 3px;
}
.table-center1 > thead > tr > th{
  text-align: center;
}

.table-center1 > thead > tr > th{
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.bg-giants {
  background-color: rgba(242, 121, 0, 0.8);
}

.bg-tigers {
  background-color: rgba(255, 255, 0, 0.7);
}

.bg-yakult {
  background-color: rgba(60, 179, 113, 0.7);
}

.bg-dragons {
  background-color: rgba(0, 0, 255, 0.6);
}

.bg-beystars {
  background-color: rgba(0, 97, 183, 0.5);
}

.bg-carp {
  background-color: rgba(255, 0, 0, 0.6);
}

.bg-hawks {
  background-color: rgba(242, 202, 0, 0.8);
}

.bg-orix {
  background-color: rgba(1, 15, 41, 0.4);
}

.bg-lions {
  background-color: rgba(44, 159, 232, 0.5);
}

.bg-eagles {
  background-color: rgba(132, 0, 0, 0.6);
}

.bg-fighters {
  background-color: rgba(255, 215, 0, 0.5);
}

.bg-lotte {
  background-color: rgba(34, 24, 21, 0.5);
}

